/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  text-decoration: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
  border: none;
  background: none;
}

@font-face {
  font-family: "Tahoma";
  src: url("../../assets/fonts/TahomaRegularfont.ttf");
}
body {
  font-family: "Tahoma", sans-serif;
  font-size: 20px;
  color: #f5e9ff;
  background-color: #2d2c30;
  background-image: url(../../assets/images/background/background-1.png);
  background-position: calc(100% - 5px) 5px;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 520px) {
  .container {
    width: 520px;
  }
}
@media screen and (min-width: 760px) {
  .container {
    width: 760px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.animate__flipInY, .header__logo-img {
  display: inline-block;
  -webkit-animation: flipInY 500ms linear;
          animation: flipInY 500ms linear;
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  background-color: #13131390;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header__logo-link {
  -webkit-perspective: 80px;
          perspective: 80px;
}
.header__logo-img {
  width: 80px;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}
.header__logo-img:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link, .nav-mob__link {
  display: none;
  margin: 0 20px 0 20px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: #f5e9ff;
  line-height: 20px;
  border-radius: 5px;
  -webkit-transition: background 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__link, .nav-mob__link {
    display: inline-block;
  }
}
.header__link--active {
  background: linear-gradient(179.76deg, #fb05fe 0.21%, #4505a2 99.79%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__btn {
  display: block;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1200px) {
  .header__btn {
    display: none;
  }
}
.header__icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: #fff;
}

.nav-mob {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #131313;
}
.nav-mob .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  text-align: left;
}
.nav-mob__link {
  display: inline-block;
  margin-left: calc(50% - 120px);
}
.nav-mob__link:hover {
  background: linear-gradient(179.76deg, #fb05fe 0.21%, #4505a2 99.79%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-mob__btn-close {
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 40px;
  height: 40px;
  margin-right: 30px;
  fill: #fff;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-mob__btn-close:hover {
  fill: #9f06c9;
}
.nav-mob__icon {
  fill: inherit;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 320px) {
  .hero {
    padding-top: 140px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 760px) {
  .hero {
    padding-top: 147px;
    padding-bottom: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 155px;
    padding-bottom: 45px;
  }
}
.hero__title {
  font-size: 96px;
  line-height: 116/96;
  color: #f5e9ff;
  background: linear-gradient(179.76deg, #fb05fe 0.21%, #4505a2 99.79%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 320px) {
  .hero__title {
    font-size: 55px;
  }
}
@media screen and (min-width: 760px) {
  .hero__title {
    font-size: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 96px;
  }
}
.hero__texts {
  margin-top: 60px;
  font-size: 20px;
  line-height: 1.5;
  color: #f5e9ff;
  text-indent: 50px;
}
@media screen and (min-width: 320px) {
  .hero__texts {
    font-size: 16px;
  }
}
@media screen and (min-width: 760px) {
  .hero__texts {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__texts {
    font-size: 20px;
  }
}

.slider {
  position: relative;
}
@media screen and (min-width: 320px) {
  .slider {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 760px) {
  .slider {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.slider__title {
  max-width: 350px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77/64;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f5e9ff;
  top: 100px;
  left: calc(100vw - 1200px);
  z-index: 500;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  transition: top 200ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-text-fill-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .slider__title {
    font-size: 50px;
  }
}
@media screen and (min-width: 760px) {
  .slider__title {
    font-size: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__title {
    font-size: 64px;
  }
}
@media screen and (min-width: 760px) {
  .slider__title {
    left: calc((100vw - 760px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .slider__title {
    position: absolute;
    left: calc((100vw - 1200px) / 2);
  }
}
.slider__title--active {
  top: 50%;
  -webkit-text-fill-color: inherit;
}
.slider__list {
  position: relative;
  width: 100%;
  height: 840px;
}
.slider__item {
  display: none;
  position: absolute;
  top: 200px;
  left: 50%;
  z-index: 1;
  translate: -50% 0;
  scale: 1;
  text-align: center;
  -webkit-transition: opacity 400ms linear, left 400ms linear, translate 400ms linear, scale 400ms linear;
  transition: opacity 400ms linear, left 400ms linear, translate 400ms linear, scale 400ms linear;
}
@media screen and (min-width: 760px) {
  .slider__item {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__item {
    width: 400px;
  }
}
.slider__item--prev {
  display: none;
  left: calc(50% - 500px);
  opacity: 0.65;
  scale: 0.75;
}
@media (min-width: 1300px) {
  .slider__item--prev {
    display: block;
  }
}
.slider__item--active {
  display: block;
}
.slider__item--active .slider__link {
  display: inline-block !important;
}
.slider__item--next {
  display: none;
  left: calc(50% + 500px);
  opacity: 0.65;
  scale: 0.75;
}
@media (min-width: 1300px) {
  .slider__item--next {
    display: block;
  }
}
.slider__link {
  display: none !important;
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f5e9ff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-image: linear-gradient(179.76deg, #fb05fe 0.21%, #4505a2 99.79%);
  -webkit-background-clip: text;
          background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.slider__btn {
  width: 40px;
  height: 65px;
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  z-index: 500;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  background-size: contain;
  border: none;
}
@media screen and (min-width: 760px) {
  .slider__btn {
    top: calc(50% + 100px);
  }
}
@media screen and (min-width: 1200px) {
  .slider__btn {
    top: calc(50% + 60px);
  }
}
.slider__btn--left {
  left: calc(50% - 100px);
  background-image: url(../../assets/images/sprite.svg#slider-arrow--left);
}
@media screen and (min-width: 760px) {
  .slider__btn--left {
    left: calc(50% - 240px);
  }
}
@media screen and (min-width: 1200px) {
  .slider__btn--left {
    left: calc(50% - 240px);
  }
}
.slider__btn--right {
  left: calc(50% + 100px);
  background-image: url(../../assets/images/sprite.svg#slider-arrow--right);
}
@media screen and (min-width: 760px) {
  .slider__btn--right {
    left: calc(50% + 240px);
  }
}
@media screen and (min-width: 1200px) {
  .slider__btn--right {
    left: calc(50% + 240px);
  }
}

.calendar {
  height: 700px;
  background-color: green;
}/*# sourceMappingURL=index.css.map */