@mixin mobile($additional: 0px) {
  @media screen and (min-width: ($mobile + $additional)) {
    @content;
  }
}

@mixin tablet($additional: 0px) {
  @media screen and (min-width: ($tablet+ $additional)) {
    @content;
  }
}

@mixin desktop($additional: 0px) {
  @media screen and (min-width: ($desktop + $additional)) {
    @content;
  }
}

@mixin fonts($descSize, $tablSize, $mobSize) {
  @include mobile() {
    font-size: $mobSize;
  }

  @include tablet() {
    font-size: $tablSize;
  }

  @include desktop() {
    font-size: $descSize;
  }
}
